<div class="container-flex">
    <div class="bg-image" style="background-image: url('https://mdbootstrap.com/img/Photos/Others/images/76.jpg');height: 100vh; position: relative; ">
        <div class="row d-flex align-items-center " style="height: 100vh;">
            <div class="card" style="padding: 30px; width: 480px; margin-left: 900px;border-radius: 1em; position: relative;">
                <div class="container-flex">
            <h1 class="mb-5">Login Page</h1>
            <form>
                <div class="form-outline mb-4">
                    <label class="form-label" >Email</label>
                    <input type="email" class="form-control" placeholder="Enter email" />
                </div>
                <div class="form-outline mb-4">
                    <label class="form-label">Password</label>
                    <input type="password"  class="form-control" placeholder="Enter password"/>
                </div>
                <button type="button" class="btn btn-primary btn-block mb-2">Login</button>
            </form>
            </div>
            </div>
        </div>
    </div>
</div>

