<div class="class">
    <div class="body">
        <h1>Hello world</h1>
        <p>I'm angular developer</p>
        <div class="row">
            <div class="col text-center">
              <a href="https://google.com" target="_blank" class="btn btn-warning" role="button" id="connect">Let's Find Out</a>
            </div>
          </div>
        <!-- <form action="https://google.com" target="_blank">
            <input type="submit" value="Go to Google" />
        </form> -->
    </div>
</div>